<div style="height: 0px;">
  <span class="collaborator"> Collaborator</span>
  <mat-divider></mat-divider>
  <div style="margin-top: 18px;">
    <button mat-mini-fab style="margin-left: 20px; background-color: blueviolet; color:white; margin-left: -2px;">
      {{userData.firstName| slice:0:1}}{{userData.lastName| slice:0:1}} </button>
    <span style="margin-left: 21px;">{{userData.firstName}} {{userData.lastName}} (owner)</span>
  </div>
  <div style="margin-top: -12px">
    <span style="margin-left: 60px; font-size: 12px; color: rgb(52, 8, 104);">{{userData.email}}</span>
  </div>
  <div style="margin-top: 10px;" *ngFor="let item of items">
    <button mat-mini-fab style="margin-left: -2px; background-color: rgb(173, 46, 121); color:white;margin-top: 10px;">
      {{item.reciverEmail | slice:0:1}}
    </button>
    <div style="margin-left:50px;margin-top: -39px;">
      {{item.reciverEmail}}
      <button mat-icon-button matTooltip="Delete" (click)="deleteCollaborator(item.id)">
        <i class="material-icons-outlined">clear</i>
      </button></div>
  </div>

  <div>
    <button mat-mini-fab style="margin-left: 20px; background-color: blueviolet; color:white; margin-left: -2px;"><img
        src="..\assets\share.png" height="20px"></button>
    <mat-form-field appearance=null style="margin-left:10px;width:80%;">
      <input matInput placeholder="Person or email share with" style="margin-left: 10px;" [(ngModel)]="addemail">
    </mat-form-field>
  </div>
  <mat-divider style="margin-top: 50px;"></mat-divider>
  <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
    <button mat-button (click)="closeCollaborator()">Cancel</button>
    <button mat-button (click)="sendData()">Save</button>
  </div>
</div>