.title{
    display: flex;
    margin-top: 17px;
    margin-left: 37px;
    font-family: cursive;
    font-weight: bold;
}
.first{
    font-size: 40px;
}
table {
    width: 100%;
  }
  .header{
    font-size: larger;
    font-weight: 600;
}
