<mat-card class="forget-container">
  <form [formGroup]='forget'>
    <mat-card-title>
      <div class="title">
        <p class="t1">F</p>
        <p class="t2">U</p>
        <p class="t3">N</p>
        <p class="t4">D</p>
        <p class="t5">O</p>
        <p class="t6">O</p>
      </div>
    </mat-card-title>
    <p class="msg">Enter Your FUNDOO Account Email</p>
    <div class="email">
      <mat-form-field appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input matInput placeholder=" " type="email" formControlName="email">
        <mat-error *ngIf="forget.get('email').hasError('required')">
          Enter Email.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="submit">
      <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" class="submit" mat-button
        id="submit">SUBMIT</button>
    </div>
  </form>
</mat-card>