<div class="main">
    <mat-toolbar>Fundoo Notes</mat-toolbar>
    <div class="back">
        <mat-card  class="first">
            <p class="cardlink">Link</p>
        </mat-card>
       <mat-card  class="first">
          <p class="cardlink" routerLink="." margin-top="137px">Link</p>
       </mat-card>
   </div>
  <div class="front">
      <mat-card  class="second">
        <p class="p1">Price :- $99 per month</p>
        <p class="p2">Advance</p> 
        <p class="p3">* $99/month <br>
          * Ability to title, description, images, label, colour etc.</p>
      </mat-card>
     <mat-card  class="second">
        <p class="p1">Price :- $49 per month</p>
        <p class="p2">Basic</p> 
        <p class="p3">* $49/month <br>
          * Ability to add only title and  description</p>
     </mat-card>
  </div>
  </div>
