<app-notes></app-notes>
<div class="format"> 
    <mat-card *ngFor="let note of notes; let noteindex=index" class="matcard">
      <input type="text"   mat-input autocomplete="off" class="titlebox" style="outline: none;font-size:large;border:none" value="{{note.title}}">
      <br>
      <input type="text" matInput style="font-size: large; border:none; margin-top: 4px; outline: none;" value="{{note.description}}">
     <br>
     <input type="text" matInput style="font-size: large; border:none; margin-top: 4px; outline: none;" value="{{note.reminder}}">
     </mat-card>
</div>