<app-notes></app-notes>
<div class="format"> 
    <mat-card *ngFor="let note of notes; let noteindex=index" class="matcard">
      <input type="text"   mat-input autocomplete="off" class="titlebox" style="outline: none;font-size:large;border:none" value="{{note.title}}">
      <br>
      <input type="text" matInput style="font-size: large; border:none; margin-top: 4px; outline: none;" value="{{note.description}}">
     <br>
     <input type="text" matInput style="font-size: large; border:none; margin-top: 4px; outline: none;" value="{{note.reminder}}">
     </mat-card>
</div>
<!-- <div style="margin-right:auto;margin-top: 10px;">
  <mat-chip-list style="margin-bottom: -2px" class="mat-chip-list-stacked" *ngIf="note.remaider"
      aria-orientation=" vertical">
      <mat-chip matTooltip="{{note.remaider}}">
          <mat-icon>alarm</mat-icon>
          {{note.remaider.slice(0,25).toString()}}
          <mat-icon matChipRemove (click)="removeRemainder(note.id)">
              cancel</mat-icon>
      </mat-chip>
  </mat-chip-list>
</div> -->