.example{
  height: 100%;
  min-height: 100%;
  overflow: initial;
}
.tool{
    min-height: 500px;
    height: auto;
    width: 100%;
    min-width: 100%;

}
.toolbar{
    height: 80px;
    min-height: 75px;
    min-width: 100%;
    background: #f9f9f9;
}
.bulb{
   margin-top: 2%;
}
.r{
    margin-top: 3%;
}
.menuicon{
    width: 4%;
}

.fundoo{
    margin-left: 1%;
    font-family: inherit;
    font-size: 130%;
}
  .example-container {
    width: 100%;
    height:100%;
    overflow: initial;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .note{
    display: flex;
    justify-content: flex-start;
    margin: -23%;
    margin-left: -18%;
    outline: none;
}

  .example-sidenav {
    padding: 50px;
  }  
  .button{
    font-family: inherit;
    font-size: 100%;
    font-weight: 400;
    outline: none;
  }
  .trashbutton{
    margin-top: -7%;
    font-family: inherit;
    font-size: 100%;
    font-weight: 400;
    outline: none;
  }
  .reminder{
    display: flex;
    justify-content: flex-start;
    margin: 25%;
    margin-top: 33%;
    margin-left: -19%;
}
.divider{
    width: 154%;
    margin-left: -27%;
    margin-top: -12%;
}
.edit{
    display: flex;
    justify-content: flex-start;
    margin: 25%;
    margin-top: 12%;
    margin-left: -19%;
}
.label{
    display: flex;
    justify-content: flex-start;
    margin-left: -21%;
    margin-top: 13%;
    font-size: small;
}
.trash{
    display: flex;
    justify-content: flex-start;
    margin: 25%;
    margin-top: -9%;
    margin-left: -19%;
}
.search-bar {   
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 48vw;
  height: 56px;
  left: 29%;
  top: 0.7%;
  border-radius: 16px;
  outline: none;
}
.refresh-button{
    position: absolute;
    left:78%;

    outline: none;
  }
  .listview-button{
    position: absolute;
    left:83%;
    margin-top: -30px;
    outline: none;
  }
  .settings-button{
    position: absolute;
    left:88%;
    top:3%; 
  }
  #profile-icon{
    margin-top:-10px;
    width: 49px;
    height: 50px;
    outline: none;
    border-radius: 50%;
  }
  .search-button,#search-button {
    outline: none;
  }
.form-control {
    width: 90%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    outline: none;

}
.suffix{
    margin-top: -38%;
}
.eimg{
    margin-top: 4%;
}
.timg{
    margin-top: -4%;
}
.profile{ 
  margin-left: 72%;
  outline: none;
}
.profilemenu{
  margin-top: 10%;
  outline: none;
}
.option{
  display: flex;
  justify-content: flex-end;
}
// :host ::ng-deep .cdk-overlay-connected-position-bounding-box{
//   top: 38.9965px !important;
//     right: 59.1285px !important;
// }

::ng-deep .cdk-overlay-pane {
  margin-top: 12px;
}
::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
::ng-deep .mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
.imgclass{
  margin-top: -18px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.changepic{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: -23px;
  margin-left: -8px;
}