<div>
<div class="mat-class1" *ngIf="!popup1" (click)='onclick()'>
    <mat-card class="card1">Take a note...</mat-card>
</div>
<div class="mat-class2" *ngIf="!popup2">
    <mat-card class="card2">
        <input type="text" mat-input autocomplete="off" placeholder="Title" class="titlebox" [(ngModel)]="title" style="outline: none;font-size:large;border:none">
        <br>
        <input type="text" matInput style="font-size: large; border:none; margin-top: 4px; outline: none;" [(ngModel)]="description" placeholder="Take a note...">
        <div style="margin-top: 15px;">
            <button mat-icon-button >
                <mat-icon><img class="img" src="..\assets\addReminder.png" height="20px"></mat-icon>
              </button>
              <button mat-icon-button >
                <mat-icon><img class="img" src="..\assets\collaborator.png" height="20px"></mat-icon>
              </button>
              <button mat-icon-button >
                <mat-icon><img class="img" src="..\assets\color.png" height="20px"></mat-icon>
              </button>
              <button mat-icon-button >
                <mat-icon><img class="img" src="..\assets\image.png" height="20px"></mat-icon>
              </button>
              <button mat-icon-button >
                <mat-icon><img class="img" src="..\assets\archive.png" height="20px"></mat-icon>
              </button>
              <button mat-icon-button >
                <mat-icon><img class="img" src="..\assets\more.png" height="20px"></mat-icon>
              </button>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: -32px;">
            <button mat-button class="button" style="font-weight: 500;" color="" (click)='back()'>Close </button>
        </div>
    </mat-card>
</div>
</div>