.format{
    display: flex;
    justify-content: space-around;
    margin-top: 44px;
}
.matcard{
    height: 156px;
    border-radius: 24px;
}
.colorpalette-card {
    width: 175px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }