.viewgrid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.viewlist{
    justify-content: center;
    margin-top: 4%;
    margin-left: 33%;
}
.grid{
     height: auto;
    border-radius: 24px;
    width: 279px;
    display: grid;
    margin-top: 44px;
}
.list{
    height: auto;
    width: 500px;
    border-radius: 24px;
    margin-top: 5%;
}
.colorpalette-card {
    width: 175px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }