<app-notes></app-notes>
<div class="format">
    <mat-card *ngFor="let note of notes; let noteindex=index" class="matcard" [style.background-color]="colorPalette[note.color]['colorCode']">
      <div (click)="openDialog(note)">
        <div>{{note.title}}</div>
        <div>{{note.description}}</div>
      </div>
      <div style="margin-top: 15px;">
        <button mat-icon-button [matMenuTriggerFor]="date">
          <mat-icon><img class="img" src="..\assets\addReminder.png" height="20px"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon><img class="img" src="..\assets\collaborator.png" height="20px"></mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="color">
          <mat-icon><img class="img" src="..\assets\color.png" height="20px"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon><img class="img" src="..\assets\image.png" height="20px"></mat-icon>
        </button>
        <button mat-icon-button (click)="archive(note.id)">
          <mat-icon><img class="img" src="..\assets\archive.png" height="20px"></mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon><img class="img" src="..\assets\more.png" height="20px"></mat-icon>
        </button>
      </div>
      <div>
       <div>
          <mat-menu #menu="matMenu">
            <div mat-menu-item>
              <button type="submit" mat-button (click)="Remove(note.id)">Delete</button>
            </div>
            <div mat-menu-item>
              <button type="submit" mat-button (click)="Restore(note.id)">Restore</button>
            </div>
          </mat-menu>
        </div>
      </div>
      <div>
        <mat-menu #color="matMenu" style="margin-left:20px">
          <div class="colorpalette-card">
              <div *ngFor="let colr of colorPalette; let name = index">
                
                  <button mat-icon-button [style.background-color]="colr.colorCode" 
                  
                      (click)="updatecolor(name, note.id)">
                  </button>
              </div>
          </div>
      </mat-menu>
      </div>
      <div>
        <mat-menu #date="matMenu">
          <span style="margin-left:20px">Reminder</span>
          <span style="margin-left:100%"></span>
          <div mat-menu-item>
            <mat-icon>alarm_add</mat-icon>
            <mat-form-field class="demo-full-width">
              <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="adddate" autocomplete="off"
                placeholder="Choose date and time">
              <owl-date-time #dt1></owl-date-time>
            </mat-form-field>
          </div>
          <button mat-button style="margin-left:185px" (click)="reminder(note.id)">save</button>
        </mat-menu>
      </div>
      <div style="margin-top: 54px;">
        <mat-menu #menu="matMenu">
          <div mat-menu-item>Note ID -
            <span>{{note.id}}</span>
          </div>
          <button mat-menu-item (click)="delete(note.id)">
            <span>Delete Note</span>
          </button>
          <button mat-menu-item>
            <span>Add Label</span>
          </button>
        </mat-menu>
      </div>
    </mat-card>
  </div>